html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button {
    overflow: visible;
}
button {
    text-transform: none;
}
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
input {
    overflow: visible;
}
.input--with-description {
    margin-bottom: 0.55rem;
}
.label {
    display: block;
    margin-bottom: 0.4rem;
    color: inherit;
    font-weight: 600;
}
.label__description {
    display: inline-block;
    margin-top: 6px;
    line-height: 1.4;
}
.label--with-description {
    margin-bottom: 0;
    padding-bottom: 0;
}
.label__description {
    font-size: 0.77777778rem;
    font-weight: 400;
    line-height: 1.4;
}
.input {
    z-index: 3;
    display: block;
    position: relative;
    padding: 0.39rem 0.5rem;
    width: 100%;
    border: 1px solid #222;
    border-radius: 3px;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1rem;
}
.grouped__input {
    width: 15.1em;
    max-width: 71vw;
    font-family: RobotoMono, monospace;
    font-weight: 700;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}
@media (min-width: 375px) {
    .grouped__input {
        width: 15.1em;
        font-size: 20px;
    }
}
@media (max-width: 374px) {
    .grouped__input {
        max-width: 12.6em;
        letter-spacing: 0;
    }
}
@media (max-width: 299px) {
    .grouped__input {
        max-width: 100%;
    }
}
@media (min-width: 500px) {
    .grouped__input {
        width: 14.9em;
        font-size: 24px;
    }
}
.u-mb-xs {
    margin-bottom: 0.5rem !important;
}

@font-face {
    font-family: OpenSans;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_AP2_ROW4.woff2) format("woff2");
}
@font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_AP2_ROW4.woff2) format("woff2");
}
@font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_AP2_ROW4.woff2) format("woff2");
}
@font-face {
    font-family: RobotoMono;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format("woff2");
}
@font-face {
    font-family: RobotoMono;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format("woff2");
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    width: 100%;
}
body,
html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
}

html {
    font-size: 18px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 10%;
}
body {
    color: #222;
    font-family: "Helvetica Neue", Arial, sans-serif, OpenSans;
}
p {
    margin: 0 0 1rem;
}

.panel {
    position: relative;
    border-radius: 0;
}
.panel .field,
.panel > :last-child {
    margin-bottom: 0;
}

.panel--no-title {
    padding: 1rem;
    border-left: 8px solid transparent;
}
.panel--no-title .panel__body {
    padding: 0;
    background: none;
}

.panel--info {
    border-color: #033e58;
    background: #eff0f9;
    display: inline-block;
}

.panel__body {
    padding: 1rem;
}
.panel__body > :last-child,
.panel__body strong > :last-child {
    margin-bottom: 0;
}

.field {
    position: relative;
}

.input--in--text {
    width: 2.5ch;
    text-align: center;
}
